/* Coolors Exported Palette - https://coolors.co/96a4df-c36ed5-4fabd3-4b9fd1-99bbe0 */

/* CSS HEX */
--maximum-blue-purple: #96a4dfff;
--french-mauve: #c36ed5ff;
--maximum-blue: #4fabd3ff;
--carolina-blue: #4b9fd1ff;
--baby-blue-eyes: #99bbe0ff;

/* CSS HSL */
--maximum-blue-purple: hsla(228, 53%, 73%, 1);
--french-mauve: hsla(290, 55%, 63%, 1);
--maximum-blue: hsla(198, 60%, 57%, 1);
--carolina-blue: hsla(202, 59%, 56%, 1);
--baby-blue-eyes: hsla(211, 53%, 74%, 1);

/* SCSS HEX */
$maximum-blue-purple: #96a4dfff;
$french-mauve: #c36ed5ff;
$maximum-blue: #4fabd3ff;
$carolina-blue: #4b9fd1ff;
$baby-blue-eyes: #99bbe0ff;

/* SCSS HSL */
$maximum-blue-purple: hsla(228, 53%, 73%, 1);
$french-mauve: hsla(290, 55%, 63%, 1);
$maximum-blue: hsla(198, 60%, 57%, 1);
$carolina-blue: hsla(202, 59%, 56%, 1);
$baby-blue-eyes: hsla(211, 53%, 74%, 1);

/* SCSS RGB */
$maximum-blue-purple: rgba(150, 164, 223, 1);
$french-mauve: rgba(195, 110, 213, 1);
$maximum-blue: rgba(79, 171, 211, 1);
$carolina-blue: rgba(75, 159, 209, 1);
$baby-blue-eyes: rgba(153, 187, 224, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #96a4dfff, #c36ed5ff, #4fabd3ff, #4b9fd1ff, #99bbe0ff);
$gradient-right: linear-gradient(90deg, #96a4dfff, #c36ed5ff, #4fabd3ff, #4b9fd1ff, #99bbe0ff);
$gradient-bottom: linear-gradient(180deg, #96a4dfff, #c36ed5ff, #4fabd3ff, #4b9fd1ff, #99bbe0ff);
$gradient-left: linear-gradient(270deg, #96a4dfff, #c36ed5ff, #4fabd3ff, #4b9fd1ff, #99bbe0ff);
$gradient-top-right: linear-gradient(45deg, #96a4dfff, #c36ed5ff, #4fabd3ff, #4b9fd1ff, #99bbe0ff);
$gradient-bottom-right: linear-gradient(135deg, #96a4dfff, #c36ed5ff, #4fabd3ff, #4b9fd1ff, #99bbe0ff);
$gradient-top-left: linear-gradient(225deg, #96a4dfff, #c36ed5ff, #4fabd3ff, #4b9fd1ff, #99bbe0ff);
$gradient-bottom-left: linear-gradient(315deg, #96a4dfff, #c36ed5ff, #4fabd3ff, #4b9fd1ff, #99bbe0ff);
$gradient-radial: radial-gradient(#96a4dfff, #c36ed5ff, #4fabd3ff, #4b9fd1ff, #99bbe0ff);